{% extends 'accounts/base.html' %}

{% block title %}Hackathon Details{% endblock %}

{% block content %}

<h1>{{ hackathon.title }}</h1>
<p>{{ hackathon.description }}</p>
<p><strong>Location:</strong> {{ hackathon.location }}</p>
<p><strong>Start Date:</strong> {{ hackathon.start_date|date:"F d, Y" }} | <strong>End Date:</strong> {{ hackathon.end_date|date:"F d, Y" }}</p>

{% if not is_registered %}
    <h3>Register for this Hackathon</h3>

    <button type="submit" class="btn btn-primary"> <a href="{% url 'register_for_hackathon' hackathon.id %}" class="btn btn-primary">Register and Create Your Team</a></button>
{% else %}
    <p>You are already registered for this hackathon!</p>
{% endif %}
{% endblock %}
